
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Purple+Purse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');
:root {
    --main-color: #FCE181; /*#FFEB00  #FCE181  #94618E;*/
    --sec-color: #FEF9C7;
    --main2-color: #465f5c;
    --sec2-color: #84B59F;
    --thr2-color: #A3C9A8;
    --fo2-color: #DDD8C4;

    --sec-English-font: 'Baloo Tammudu 2', cursive;
    --sec-English-font: 'Purple Purse', cursive;
    --sec-English-font: 'Truculenta', sans-serif;
    --sec-English-font: 'Ribeye', cursive;
}

* {
    margin: 0;
    padding: 0;

    /* 空心字體
    text-shadow: 1px 1px black, -1px -1px black,
            1px -1px black, -1px 1px black;
    color: white;
    */
}

.mainTitle {
    font-family: 'Permanent Marker', cursive;
}

.indexpage {
    width: 100%;
    height: 100vh;
    /* background: url('../assets/deer3.png') no-repeat; */
    background-position: 50%;
    background-size: cover;
}

ul {
    list-style: none;
}

.wrapper {
    height: 100vh;
}
.nav {
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    flex: 0 0 50%;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo h1 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 2;
}

.logo span {
    font-size: 60px;
    line-height: 1;
}

.menu-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-top: 20px;
}

.menu-links ul {
    width: 100%;
}

.menu-links ul li {
    padding: 10px;
    color: #494949;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.menu-links ul li:hover {
    background: #494949;
    color: #fff;
}

.scrolldown {
    flex: 1;
    display: flex;
    justify-content: center;
    transform: rotate(-90deg);
    z-index: -1;
    /* right: 50px;
    position: relative; */
}

.scrolldown::before {
    content: "";
    display: inline-block;
    border-top: 1px solid #000;
    width: 65px;
    margin: 0 10px 0 0;
    transform: translateY(10px);
}

.text {
    position: absolute;
    top: 20%;
    right: 10%;
    transform: translateY(-50%);
    text-align: right;
    color: #494949;
}

.text .title {
    /* font-size: 150px; */
    font-size: 18vmin;
}



.text p {
    font-size: 5vmin;
    font-family: var(--sec-English-font);
}

.watchnow {
    position: absolute;
    top: 80%;
    right: 0;
    transform: translateY(-50%);
    background: var(--main-color);
    padding: 30px 180px 30px 30px;
}

.watchnow a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 3px solid #000;
    padding-bottom: 5px;
}

.fa-play,
.fa-volume-high,
.fa-volume-xmark {
    color: #fff;
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.media {
    position: absolute;
    bottom: 0;
    right: 0;
}

.media ul li {
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    color: #494949;
    cursor: pointer;
    border-radius: 50%;
}

.media ul li:hover {
    background: var(--main-color);
}

.ellipse-container {
    /* width: 608px;
    height: 608px; */
    max-width: 608px;
    max-height: 608px;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    margin: 0 auto;
    z-index: -1;
}

.ellipse {
    position: absolute;
    top: 0;
    border-radius: 50%;
    border-style: solid;
}

.ellipse.thick {
    width: 93%;
    height: 93%;
    border-width: 10px;
    border-color: #fff;
    transform: rotate(-45deg);
    top: 3%;
    left: 3%;
}

.ellipse.yellow {
    width: 93%;
    height: 93%;
    border-width: 10px;
    border-color: var(--main-color) transparent;
    transform: rotate(-45deg);
    top: 3%;
    left: 3%;
    animation: ellipseRotate 15s ease-in-out infinite;
}

.navigation {
    width: 100%;
    /* height: 90vh; */
    /* background: var(--sec-color); */
    position: relative;
    z-index: 100;
}
.smallLogo {
    /* background: var(--sec-color); */
    font-size: 5vmin;
    padding: 10px;
}

.samllMenu ul {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 5vmin;
}
.samllMenu ul li:hover {
    background: #494949;
    color: #fff;
}

@media screen and (min-width:768px) {
    .media {
        padding: 20px;
    }
    .navigation {
        display: none !important;
    }
    
}

@keyframes ellipseRotate {
    0% {
        transform:  rotate(-45deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}


@media screen and (max-width:767px) {
    .nav, .scrolldown {
        display: none !important; 
    }

    .samllLogo {
        font-size: 6vmin;
        margin: 10px;
    }

    .watchnow {
        top: 85%;
    }
}